<a href="https://colab.research.google.com/github/tanmy-sharma/Machine-Learning-/blob/main/Heart_attack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection

In [64]:
heartattack_data = pd.read_csv('/content/heart_disease_data.csv')

In [65]:
heartattack_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [66]:
heartattack_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [67]:
heartattack_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 -> heart attack

2-> not a heart attack

In [68]:
heartattack_data.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939,0.363636,2.121212

In [69]:
# separating labels and results

x = heartattack_data.drop(columns = 'target', axis = 1)
y = heartattack_data['target']

In [70]:
print(x)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [71]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

splitting the data into test and train data

In [72]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 2)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(242, 13) (61, 13) (242,) (61,)

In [73]:
model = LogisticRegression()
model.fit(x_train.values, y_train.values)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [74]:
#prediction accuracy on the basis of training model
train_predict = model.predict(x_train.values)
train_predict_accuracy = accuracy_score(train_predict, y_train.values)
print(train_predict_accuracy)

0.8512396694214877

In [75]:
#prediction accuracy on the basis of test cases
test_predict = model.predict(x_test.values)
test_predict_accuracy = accuracy_score(test_predict, y_test)
print(test_predict_accuracy)

0.819672131147541

Building a predictive system

In [76]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

numpy_arr = np.asarray(input_data)
input_data_reshaped = numpy_arr.reshape(1, -1)

prediction = model.predict(input_data_reshaped)

print(prediction)
if(prediction[0] == 0):
  print("The person has a healthy heart")
else:
  print("The person has an unhealthy heart")

[0]
The person has a healthy heart